<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="example suit" parallel="classes">
    <test name="example test">
        <classes>
            <class name="examples.TestNgDependentTests"></class>
            <class name="examples.SkipTCExample2">
                <methods>
                    <include name="aSkipTest" />
                </methods>
            </class>
            <class name="activities.Activity1">
                <methods>
                    <include name="beforeMethod" />
                    <include name="exampleTestCase" />
                </methods>
            </class>
        </classes>
    </test>
</suite>



    </classes>
</test> <!-- Test -->
</suite> <!-- Suite -->